.outer__div {
    background-color: rgb(136, 90, 137);
    width: 100%;
    height: 80vh;
}

.activePile__div{
    text-align: center;
}

.emptyPile__message{
    text-align: center;
    color: white;
    margin-top: 0;
    padding-top: 40vh  ;
}